



<%- include("./partials/header.ejs"); -%>



<h1>Home</h1>

<p> <%= homecon %> </p>

<%posts.forEach(function(cont){%>
  <h1><%= cont.title%></h1>
  <p><%= cont.content.substring(0,Math.min(100,cont.content.length)) + "..."%>
  <a href="posts/+<%=cont.title%>"">Read More</a></p>
  <% }) %>

<%- include( "./partials/footer.ejs"); -%>
